/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/* .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */

* {
    margin: 0;
    padding: 0;
}

.ishimon{
    background-color: rgb(27, 31, 27);
    color: rgb(32, 219, 63);
    min-height: 100vh;
}

a{
    color: rgb(240, 12, 12);
    text-decoration: none;
}

a:hover{
    color: rgba(255, 0, 0, 0.74);
}

.taipon{
    background-color: rgba(0, 0, 0, 0.767);
    color: rgb(255, 254, 254);
    border-radius: 30px;
    width: 30%;
    margin-top: 12.5%;
    margin-bottom: 15%;
    /* flex-direction: column; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.iwamon{
    background-color: rgb(18, 5, 65);
    min-height: 100vh;
    display: flex;
}

