// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.tag-box{
    background-color: floralwhite;
    display: inline;
    border: 1px solid #000000;

    a{
        text-decoration: none;
    }
}